/* ---- Bread Index Page ---- */
.bread-list {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 40px;
  }
  
  @media (min-width: 992px) {
    .bread-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding-top: 30px;
      padding-bottom: 80px;
    }
  }
  
  /* ---- Bread Detail Page ---- */
  .bread-detail {
    padding-bottom: 60px;
  }
  
  .bread-detail__introduction {
    color: var(--dark);
    font-family: var(--font--primary);
    font-size: 1.625rem;
    line-height: 1.15;
    margin-top: 50px;
    margin-bottom: 65px;
  }
  
  @media (min-width: 768px) {
    .bread-detail__introduction {
      font-size: 2rem;
      line-height: 1.31;
      margin-top: 160px;
    }
  }
  
  .bread-detail figure {
    margin: 35px auto 20px;
    overflow: hidden;
  }
  
  .bread-detail figure img {
    height: auto;
  }
  
  .bread-detail__meta {
    background-color: var(--cream);
    padding: 40px;
    margin-right: -15px;
    margin-bottom: 60px;
  }
  
  .bread-detail__meta ul li {
    border-bottom: 1px solid var(--border-grey);
    list-style: none;
    color: var(--grey);
    max-width: 450px;
    margin-bottom: 15px;
  }
  
  .bread-detail__meta-title {
    font-family: var(--font--secondary);
    font-weight: 700;
    font-size: var(--font-md);
    line-height: 1.55;
    margin: 0 0 5px;
  }
  
  .bread-detail__meta-content {
    font-family: var(--font--secondary);
    font-size: var(--font-md);
    line-height: 1.55;
    margin: 0 0 20px;
  }
  
  .bread-detail__meta-ingredient--draft {
    color: transparent;
    user-select: none;
    cursor: help;
    text-shadow: 0 0 7px rgb(0 0 0 / 50%);
  }
  
  @media (min-width: 992px) {
    .bread-detail__meta {
      background-color: var(--cream);
      padding: 240px 60px 60px;
      margin-right: -40px;
      margin-bottom: 0;
    }
  }