/* Global styles */

/* CSS Variables */
:root {
    --dark: #333;
    --grey: #6e6e6e;
    --border-grey: #e1dcd3;
    --transparent-border: rgb(135 116 79 / 25%);
    --white: #fff;
    --cream: #f5f3e9;
    --light-brown: #87744f;
    --mid-brown: #825600;
    --dark-brown: #553801;
    --orange: #c55302;
    --dark-orange: #833701;
    --font--primary: 'Marcellus', serif;
    /* stylelint-disable */
    --font--secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui,
      Roboto, 'Helvetica Neue', Arial, sans-serif, Apple Color Emoji,
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /* stylelint-enable */
    --font-sm: 1rem;
    --font-md: 1.125rem;
  }
  
  html {
    font-size: 16px;
  }
  
  [hidden] {
    display: none !important;
  }
  
  /* Body */
  
  body {
    font-family: var(--font--secondary);
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--white);
    color: var(--dark);
    min-height: 100vh;
  }
  
  body.no-scroll {
    overflow-y: hidden;
  }
  
  @media (min-width: 768px) {
    body {
      font-size: var(--font-md);
      line-height: 1.55;
    }
  }
  
  /* Headings and Paragraphs */
  
  h1,
  h2,
  h3 {
    font-family: var(--font--primary);
    font-weight: 400;
    color: var(--dark);
  }
  
  h1 {
    font-size: 2.375rem;
    line-height: 1.16;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
  
  h3 {
    font-size: 1.625rem;
    line-height: 1.15;
  }
  
  h4 {
    font-family: var(--font--secondary);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.35;
    color: var(--dark);
  }
  
  p {
    font-family: var(--font--secondary);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-sm);
    line-height: 1.5;
    color: var(--dark);
  }
  
  @media (min-width: 768px) {
    body {
      font-size: var(--font-md);
      line-height: 1.55;
    }
  
    h1 {
      font-size: 3.75rem;
      line-height: 1.07;
    }
  
    h2 {
      font-size: 2.875rem;
      line-height: 1.09;
    }
  
    h3 {
      font-size: 2rem;
      line-height: 1.31;
    }
  
    h4 {
      font-size: 1.5rem;
      line-height: 1.38;
    }
  
    p {
      font-size: var(--font-md);
      line-height: 1.55;
      margin: 0 0 30px;
    }
  }
  
  ol,
  ul {
    margin-bottom: 30px;
  }
  
  .hero h1 {
    color: var(--white);
    position: relative;
  }
  
  @media (min-width: 768px) {
    .intro {
      font-size: 1.875rem;
      margin: 0 0 60px;
    }
  }
  
  /* Links, Lists, Figures */
  
  a,
  a:focus,
  a:visited {
    color: var(--orange);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--dark-orange);
    text-decoration: none;
  }
  
  a.btn {
    background-color: var(--orange);
    color: var(--white);
    display: inline-block;
    font-family: var(--font--secondary);
    font-size: var(--font-md);
    line-height: 1.55;
    font-weight: 700;
    padding: 15px 20px;
  }
  
  a.btn:hover {
    background-color: var(--grey);
    color: var(--white);
  }
  
  a.btn-sm {
    border-radius: 4px;
    font-size: 1rem;
    line-height: normal;
    padding: 6px 8px;
  }
  
  ul {
    margin: 0 0 30px;
  }
  
  @media (min-width: 768px) {
    ul {
      margin: 0 0 50px;
    }
  }
  
  figure {
    margin: 30px 0;
    position: relative;
  }
  
  @media (min-width: 768px) {
    figure {
      margin: 40px 0;
    }
  }
  
  figcaption {
    color: var(--grey);
    font-family: var(--font--secondary);
    font-size: 0.875rem;
    line-height: 1.57;
    padding-top: 10px;
  }
  
  @media (min-width: 768px) {
    figcaption {
      font-size: var(--font-sm);
      line-height: 1.5;
    }
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Generic detail page styles */
  .intro {
    font-family: var(--font--secondary);
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 1.375rem;
  }
  
  .alert {
    margin: 40px auto 0;
    max-width: 1400px;
    border-radius: 0;
    background-color: var(--orange);
    color: var(--white);
    padding: 40px;
  }
  
  .alert > .alert__title {
    color: var(--white);
    font-family: var(--font--primary);
    font-size: 1.625rem;
    margin-bottom: 5px;
  }
  
  .alert__messages {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  
  /* Hero image area */
  .hero {
    padding: 300px 0 0;
    position: relative;
    margin: 0 0 10px;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (min-width: 768px) {
    .hero {
      padding: 250px 0 0;
      margin: 0;
    }
  
    .hero.hero--blog {
      padding: 400px 0 0;
    }
  }
  
  .hero-gradient-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(0deg, #000 11.33%, rgb(0 0 0 / 0%) 100%);
  }
  
  @media (min-width: 768px) {
    .hero-gradient-mask {
      background: linear-gradient(90deg, #000 11.33%, rgb(0 0 0 / 0%) 100%);
    }
  }
  
  .hero__container {
    width: 100%;
    padding: 30px 20px 100px;
    background-color: var(--orange);
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .hero__container {
      background-color: transparent;
      max-width: 1400px;
      padding: 0 40px;
    }
  }
  
  .hero__title {
    color: var(--white);
    font-weight: 400;
    font-size: 2.875rem;
    line-height: 1.09;
    margin: 0;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .hero__title {
      background-color: var(--orange);
      width: max-content;
      max-width: 100%;
      font-size: 6.25rem;
      line-height: 0.64;
      padding: 75px 65px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
    }
  }
  
  blockquote {
    border-left: 3px solid var(--orange);
    margin: 40px 0 30px;
    padding: 0 0 0 20px;
  }
  
  blockquote .text {
    color: var(--orange);
    margin: 0 0 30px;
    font-family: var(--font--primary);
    font-size: 1.625rem;
    line-height: 1.15;
  }
  
  blockquote .attribute-name {
    color: var(--dark);
    font-size: var(--font-md);
    line-height: 1.56;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    blockquote {
      border-left: 3px solid var(--orange);
      margin: 50px 0;
      padding: 0 40px;
    }
  
    blockquote .text {
      font-size: 2rem;
      line-height: 1.31;
    }
  }
  
  /* Richtext Styles */
  /* stylelint-disable-next-line selector-class-pattern */
  .block-paragraph_block p {
    color: var(--dark);
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  .block-paragraph_block a {
    text-decoration: underline;
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  .block-embed_block iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  .block-paragraph_block iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  :is(.block-table_block, .block-typed_table_block) :is(table, tr, td, th) {
    border: 1px solid var(--dark);
    padding: 0.25em;
  }
  
  /* stylelint-disable-next-line selector-class-pattern */
  :is(.block-table_block, .block-typed_table_block) table {
    margin-bottom: 30px;
  }
  
  @media screen and (min-width: 768px) {
    .header,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
  }