/* Miscellaneous helper styles */

/* No gutters */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 970px) {
  .row.no-gutters {
    display: block;
  }
}

.row.no-gutters > [class^='col-'],
.row.no-gutters > [class*=' col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* Bootstrap Equal height rows */
.row-eq-height {
  display: box;
  display: flex;
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .hidden-md-up {
    display: none;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none;
  }
}

/* From Wagtail core */
.richtext-image.left {
  float: left;
  width: 50%;
}

.richtext-image.right {
  float: right;
  width: 50%;
}

/* ---- Component Styles ---- */

/* #region ---- Picture Card ---- */
.picture-card {
  position: relative;
}

.picture-card__link:hover .picture-card__image img {
  transform: scale(1.05);
}

.picture-card__link:hover .picture-card__title {
  text-decoration: underline;
}

.picture-card__title {
  color: var(--white);
  font-family: var(--font--primary);
  font-size: 1.625rem;
  line-height: 1.15;
  margin: 0;
}

.picture-card__image {
  overflow: hidden;
  margin-bottom: 0;
}

.picture-card__image img {
  transition: transform 0.2s ease;
}

.picture-card__image::before {
  content: '';
  position: absolute;
  height: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000 67.69%);
  z-index: 2;
}

.picture-card__contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  display: flex;
  align-items: end;
  padding: 20px;
  z-index: 2;
}

@media (min-width: 768px) {
  .picture-card__title {
    font-size: 2rem;
    line-height: 1.31;
  }

  .picture-card__contents {
    padding: 30px 40px;
  }
}

/* #endregion */

/* #region ---- Listing Card ---- */
.listing-card {
  margin-bottom: 40px;
}

.listing-card__meta {
  border-collapse: separate;
  border-spacing: 5px;
}

.listing-card__link {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-grey);
}

.listing-card__contents {
  padding-top: 10px;
  padding-left: 25px;
}

.listing-card__title {
  color: var(--orange);
  margin-top: 0;
}

.listing-card__meta-category {
  color: var(--grey);
  font-size: 0.875rem;
  line-height: 1.57;
  padding-right: 10px;
  vertical-align: top;
}

.listing-card__meta-content {
  color: var(--dark);
  font-size: 0.875rem;
  line-height: 1.57;
  vertical-align: top;
}

.listing-card__meta-row:last-child {
  margin-bottom: 0;
}

.listing-card__image {
  width: 100%;
  overflow: hidden;
  margin: 0;
  max-width: 100px;
  max-height: 110px;
}

.listing-card__image img {
  transition: transform ease 0.2s;
}

.listing-card:hover .listing-card__image img {
  transform: scale(1.05);
}

.listing-card:hover .listing-card__title {
  color: var(--dark-orange);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .listing-card__contents {
    padding-left: 45px;
    padding-top: 30px;
  }

  .listing-card__image {
    width: 100%;
    overflow: hidden;
    margin: 0;
    max-width: 180px;
    max-height: 180px;
  }

  .listing-card__meta-category,
  .listing-card__meta-content {
    font-size: var(--font-sm);
    line-height: 1.5;
  }
}

/* #endregion */

/* #region ---- Blog Listing Card ---- */
.blog-listing-card {
  padding-bottom: 40px;
  width: 100%;
}

.blog-listing-card:last-child {
  padding-bottom: 100px;
}

.blog-listing-card__link {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--transparent-border);
}

.blog-listing-card__contents {
  padding-top: 10px;
}

.blog-listing-card__title {
  font-size: 1.625rem;
  line-height: 1.15;
  color: var(--orange);
  margin-top: 0;
  margin-bottom: 8px;
}

.blog-listing-card__introduction {
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--dark);
  margin-bottom: 8px;
  max-width: 530px;
}

.blog-listing-card__metadata {
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--grey);
  margin-bottom: 0;
}

.blog-listing-card__image {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.blog-listing-card__image img {
  transition: transform ease 0.2s;
}

.blog-listing-card:hover .blog-listing-card__image img {
  transform: scale(1.05);
}

.blog-listing-card:hover .blog-listing-card__title {
  color: var(--dark-orange);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .blog-listing-card:last-child {
    padding-bottom: 200px;
  }

  .blog-listing-card__link {
    flex-direction: row;
  }

  .blog-listing-card__contents {
    padding-top: 30px;
    padding-left: 45px;
  }

  .blog-listing-card__title {
    font-size: 2rem;
    line-height: 1.31;
  }

  .blog-listing-card__introduction {
    font-size: var(--font-md);
    line-height: 1.55;
  }

  .blog-listing-card__image {
    flex-shrink: 0;
    overflow: hidden;
    margin: 0;
    width: 325px;
    height: 250px;
  }
}

/* #endregion */

/* #region ---- Location Card ---- */

.location-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  text-align: left;
}

.location-card:hover .location-card__image img {
  transform: scale(1.05);
}

.location-card:hover .location-card__title {
  color: var(--dark-orange);
}

.location-card__image {
  margin-bottom: 0;
  overflow: hidden;
}

.location-card__image img {
  object-fit: cover;
  min-height: 210px;
  transition: transform 0.2s ease;
}

.location-card__title {
  color: var(--orange);
  font-size: 1.625rem;
  line-height: 1.15;
  margin-bottom: 10px;
  font-weight: 400;
  width: max-content;
  position: relative;
}

.location-card__title::before {
  content: '';
  bottom: 3px;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--dark-orange);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.location-card:hover .location-card__title::before {
  opacity: 1;
}

.location-card__text {
  color: var(--dark);
  font-size: var(--font-sm);
  line-height: 1.5;
}

@media (min-width: 768px) {
  .location-card {
    margin-bottom: 0;
  }

  .location-card__image {
    margin-bottom: 30px;
  }

  .location-card__image img {
    min-height: 320px;
  }

  .location-card__title {
    font-size: 2rem;
    line-height: 1.31;
    margin-bottom: 20px;
  }

  .location-card__text {
    font-size: var(--font-md);
    line-height: 1.55;
  }
}

/* #endregion */

/* Utilities */

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
